* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }
.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    border-radius: 2em;
    box-shadow: 0 10px 6px -6px #777;
    color: #fff;
    font-size: .9em;
    margin: 0 auto;
    padding: .75em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}


.budget__income {
    margin-bottom: 10px;
    background-color: #2ecc71;
}
.budget__expenses { background-color: #E74E67; }

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: white;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/**************
         FORM
**************/

.add {
    background-color: #f7f7f7;
    border-bottom: 3px solid #e7e7e7;
    border-radius: 2em;
    box-shadow: 0 10px 6px -6px #777;
    padding: 0.875em;
    border-color: #2ecc71;
}

.income__title { color: #2ecc71; }

.expenses__title { color: #E74E67; }

.add__btn_income {
    color: #2ecc71;
  background-color: text-border;
  border-color: #ced4da;
}

.add__btn_income:active { 
    -webkit-transform: translateY(2px); 
                    transform: translateY(2px);
}

.add__btn_expenses {
    color: #E74E67;
  background-color: none;
  border-color: #ced4da;
}

.add__btn_expenses:active { 
    -webkit-transform: translateY(2px); 
                    transform: translateY(2px);
}